[flake8]
ignore =
    E203
    E266
    E501
    W503
    F403
    F401
    # Imperative mood -- doesn't work for cached-property.
    D401
    # TODO: remove this (function name should be lower-case)
    N802
    # no using lru_cache on methods
    B019
    # logging uses f-string
    G004
    # no docstring in __init__
    D107
    # no upper-case variables (we have lots...)
    N806
    # no upper case argument names
    N803
max-line-length = 88
max-complexity = 19
rst-roles =
    class
    func
    mod
    data
    const
    meth
    attr
    exc
    obj
rst-directives =
    note
    warning
    versionadded
    versionchanged
    deprecated
    seealso
per-file-ignores =
    tests/*:D, T201
    setup.py:D
