exclude: '^docs/conf.py'

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: trailing-whitespace
  - id: check-added-large-files
  - id: check-ast
  - id: check-json
  - id: check-merge-conflict
  - id: check-xml
  - id: debug-statements
  - id: end-of-file-fixer
  - id: requirements-txt-fixer
  - id: mixed-line-ending
    args: ['--fix=no']

- repo: https://github.com/PyCQA/flake8
  rev: 6.0.0
  hooks:
  - id: flake8
    additional_dependencies:
      - flake8-builtins
#      - flake8-eradicate  # flake8 6 incompatible
      - pep8-naming
      - flake8-pytest
      - flake8-docstrings
      - flake8-rst-docstrings
      - flake8-rst
#      - flake8-copyright  # flake8 6 incompatible
      - flake8-markdown
      - flake8-bugbear
 #     - flake8-comprehensions  # flake8 6 incompatible
      - flake8-print


- repo: https://github.com/psf/black
  rev: 23.7.0
  hooks:
  - id: black

- repo: https://github.com/PyCQA/isort
  rev: 5.12.0
  hooks:
  - id: isort

- repo: https://github.com/pre-commit/pygrep-hooks
  rev: v1.10.0
  hooks:
    - id: rst-backticks

- repo: https://github.com/asottile/pyupgrade
  rev: v3.9.0
  hooks:
  -   id: pyupgrade
      args: [--py38-plus]
