name: Warnings Tests
on: [push]


jobs:
  tests:
    name: With Warnings
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python: ["3.11"]
    steps:
      - uses: actions/checkout@master
        with:
          fetch-depth: 1

      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python }}

      - name: Install Test Deps
        run: |
          pip install .[tests]

      - name: Run Tests
        run: |
          python -m pytest -W error

      - uses: codecov/codecov-action@v5
        if: success()
        with:
          files: ./coverage.xml #optional
          token: ${{ secrets.CODECOV_TOKEN }} #required
